<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @stakeholder.email %>
</p>

<%= link_to 'Edit', edit_stakeholder_path(@stakeholder) %> |
<%= link_to 'Back', stakeholders_path %>
